In [148]:
import pandas as pd
from openpyxl import load_workbook
from openpyxl.styles import PatternFill
import os

### 資料建立

In [149]:
#參數
YEAR="112"
MONTH="07"

In [150]:
#處理指定月份
date_df=pd.read_csv(os.path.join("Data","calendar",os.listdir('Data/calendar')[0]) ,encoding='big5')
date_df["月份"] = date_df["西元日期"].apply(lambda x:str(x)[4:6])
date_df = date_df[date_df['月份']=="07"]
date_df.reset_index(drop=True,inplace=True)

In [151]:
#處理範本
Title = f"臺北榮民總醫院新竹分院{YEAR}年{MONTH}月份白班、夜班總值日調班登記表"
OUTPUT_PATH = os.path.join("Data","Output",f"{Title}.xlsx")
sample = pd.read_csv(os.path.join("Data","database","總值範本.csv"))

In [ ]:
#讀取值班人員名列

### 排班

In [153]:
date_df

        西元日期 星期  是否放假   備註  月份
0   20230701  六     2  NaN  07
1   20230702  日     2  NaN  07
2   20230703  一     0  NaN  07
3   20230704  二     0  NaN  07
4   20230705  三     0  NaN  07
5   20230706  四     0  NaN  07
6   20230707  五     0  NaN  07
7   20230708  六     2  NaN  07
8   20230709  日     2  NaN  07
9   20230710  一     0  NaN  07
10  20230711  二     0  NaN  07
11  20230712  三     0  NaN  07
12  20230713  四     0  NaN  07
13  20230714  五     0  NaN  07
14  20230715  六     2  NaN  07
15  20230716  日     2  NaN  07
16  20230717  一     0  NaN  07
17  20230718  二     0  NaN  07
18  20230719  三     0  NaN  07
19  20230720  四     0  NaN  07
20  20230721  五     0  NaN  07
21  20230722  六     2  NaN  07
22  20230723  日     2  NaN  07
23  20230724  一     0  NaN  07
24  20230725  二     0  NaN  07
25  20230726  三     0  NaN  07
26  20230727  四     0  NaN  07
27  20230728  五     0  NaN  07
28  20230729  六     2  NaN  07
29  20230730  日     2  NaN  07
30  20230731  一     0  NaN  07

In [97]:
#填表
for _,item in date_df.iterrows():
    row = {"日期":str(item['西元日期']%100),
           "星期":item['星期'],
           "放假":item['是否放假']}
    sample = sample.append(row, ignore_index=True)

In [99]:
#調整Title
sample = pd.DataFrame([[ '日期','星期','總值一\n(08-20)','調班1','調班2','調班3','總值二\n(20-08)','調班1','調班2','調班3',0]],
                      columns=sample.columns).append(sample)
sample.columns=[Title,'','','','','','','','','','']
sample.to_excel(OUTPUT_PATH,index=False)

### 將放假日填上顏色

In [144]:
# 創建一個樣式，設置背景顏色為黃色
red_fill = PatternFill(start_color='ffff00',  fill_type='solid')

# 使用 openpyxl 打開 Excel 文件
book = load_workbook("fuck.xlsx")
sheet = book.active

#將放假的日期填成黃色
for i in sheet.iter_rows(0,sheet.max_row, 0, sheet.max_column):
    if i[-1].value==2:
        for col in range(0, sheet.max_column):
            cell = sheet.cell(row=i[0].row, column=col+1)
            cell.fill = red_fill
book.save(OUTPUT_PATH)

In [166]:
date_df=pd.read_csv(os.path.join("Data","calendar",os.listdir('Data/calendar')[0]) ,encoding='big5')
date_df['備註']=date_df['備註'].fillna('')

In [167]:
date_df

         西元日期 星期  是否放假     備註
0    20230101  日     2  開國紀念日
1    20230102  一     2     補假
2    20230103  二     0
3    20230104  三     0
4    20230105  四     0
..        ... ..   ...    ...
360  20231227  三     0
361  20231228  四     0
362  20231229  五     0
363  20231230  六     2
364  20231231  日     2

[365 rows x 4 columns]

In [168]:
for index,item in date_df.iterrows():
    print(index)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364